# Ключ для OpenAI 
OPENAI_API_KEY=org-KeUHRCklrl0n9paKivtX9Ycw

# Строка подключения к MongoDB 
MONGO_URI=mongodb+srv://username:password@cluster0.mongodb.net/777StartDB?retryWrites=true&w=majority

# Порт сервера 
PORT=4000